<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Hey Welcome to Our Treasure Hunting Game!!!</h2>

        <p> <a href='/signup' class='btn btn-success'>Sign up</a> </p> or 
        
        <p> <a href='/signin' class='btn btn-primary'> Login if you have an account already </a> </p> to continue
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
