<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Pirate Treasure</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/styles/score.css"> 

</head>

<body>
    <div id = "score_page" class="container">
        <h1 class="header center white-text"></h1>
        <div class="row center">
            <h5 class="header col s12 light">Break the code, take the treasure</h5>
        </div>
        <!-- Data Return -->
        <div class="container">
            <div class="center row">
                <div class="col l12 s12">
                    <table id="table">
                        <caption>
                            <h2>High scores!</h2>
                        </caption>
                        <thead>
                            <tr>
                                <th>Player ID</th>
                                <th>Player</th>
                                <th>Score</th>
                            </tr>
                            <tr>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="container">
                <div class="section">

                    <!--  Scripts-->

                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>